// Import Google Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');


// Custom Variables and Bootstrap Variable Overwrites
@import "settings";


//morning gray style variables settings overwrites
$body-bg: #f5f5f5;

//link color
$link-color: 			#bf9a78;
$link-hover-color:    	darken($link-color, 40%);

//tags
$taglist-item-bg-color: $morningblue;

//navbar
$nav-link-hover-bg:   				$gray-lighter;
$nav-pills-active-link-hover-bg: 	$morningblue-lighter;

//progress bar
$progress-bar-info-bg:   	$morningblue;
$progress-bg: 				$ddgray;

//after section underline seperators
$after-section-underline-color: $gray-lighter;

//blockquotes
$blockquote-border-color:     $gray-lighter;


//Core theme components
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; // Import Bootstrap
@import "core/mixins";
@import "core/global";
@import "core/type";

//resume component styles
@import "components/resume/resume-profile";
@import "components/resume/resume-info";
@import "components/resume/resume-navigation";