
// Import Google Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Custom Variables and Bootstrap Variable Overwrites
@import "settings";

//Core theme components
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; // Import Bootstrap
@import "core/mixins";
@import "core/global";
@import "core/type";

//resume component styles
@import "components/resume/resume-profile";
@import "components/resume/resume-info";
@import "components/resume/resume-navigation";
