// Import Google Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');


// Custom Variables and Bootstrap Variable Overwrites
@import "settings";


//sea-blue style variables and settings overwrites
$body-bg: $seablue;

//link color
$link-color: 			$seablue-darker;
$link-hover-color:    	darken($link-color, 20%);

//thumbnail
$thumbnail-border:            $f5smoke;

//tags
$taglist-item-bg-color: $b4blue;

//navbar
$nav-link-hover-bg:   				$f5smoke;
$nav-pills-active-link-hover-bg: 	lighten($b4blue, 1%);

//resume navigation
$resume-navigation-link-color: #a8c9da;

//progress bar
$progress-bar-info-bg:   	darken($seablue, 10%);
$progress-bg: 				$f5smoke;

//after section underline seperators
$after-section-underline-color: $f5smoke;

//blockquotes
$blockquote-border-color:     $f5smoke;


//Core theme components
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; // Import Bootstrap
@import "core/mixins";
@import "core/global";
@import "core/type";

//resume component styles
@import "components/resume/resume-profile";
@import "components/resume/resume-info";
@import "components/resume/resume-navigation";