//UI EFFECTS

//headings
@mixin after-heading-underline{
	&::after{
            content: "";
            display: block;
            height: 1px;
            max-width: 200px;
            border-bottom: solid 2px $after-section-underline-color;

             //styles specific to large small > extra large screens
            @media (min-width: $screen-sm-min) {
                max-width: 360px;
            }
        }
}

//section seperators
@mixin after-section-underline{
 &:after{
            display: block;
            content: " ";
            height: 8px;
         	max-width: 48px;
         	//max-width: 64px;
            border-bottom: solid 2px  $after-section-underline-color;
        }
}